@charset "utf-8";

body, main {
    background-color: #5B2386;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color:#fff;
    font-size: 24px;
}

header {
    margin-top: 125px;
    text-align: center;
}

.header_contents .header-first-img {
    width: 564px;
    height: 112px;
}

.header_contents .header-second-img {
    width: 261px;
    height: 265px;
    transform: translateX(-300px);
}

.main_contents {
    position: relative;
}

.main_contents .main-first-img {
    margin-top: 46px;
    width: 486px;
    height: 40px;
    position: static;
}


.main_contents .main-second-img {
    margin-top: 78px;
}

 .main_contents .main-first-sentence {
    width:400px;
    height: 85px;
    transform: translateY(-110px);
    line-height: 30px;
    font-weight: bold;
    font-size:14px;
}

.main-first-sentence .main-first-sentence-strong {
    font-size: 24px;
}

.main_contents .main_fir_p {
    margin-bottom: 27px;
    
}

.main_contents p input {
    color: #BABCBE;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    width:228px;
    height: 57px;

}

.main_contents .main_fir_p .first-input {

}

.main_contents .main_sec_p .second-input {

}